#gif-gen {
  display: none;
}

.control {
  margin-left: 15px;
}

#generatorBtn {
  margin-left: 4px;
}

/* This is an application that would likely be used on cell phones therefore, we wanted to ensure it would render properly on different sized screens */
@media screen and (max-width: 992px) {
  * {
    background-color: rgb(255, 255, 255);
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  * {
    background-color: rgb(255, 255, 255);
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  * {
    background-color:rgb(255, 255, 255) ;
  }
}